<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>very nice photo upload, <%= @user.username %></h1>
    <p>
      Your photo is very respectable.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Have a blast on PhotoApp!</p>
  </body>
</html>