<h1><%= current_user.email %></h1>

<div class="photo-container">
  <% @photos.each do |photo| %>
    <%= image_tag image_photo_path(photo), class: 'medium-photo' %>
  <% end %>
</div>

<div class="user-container">
</div>
