<h1><%= @user.username %>
  <span class="all-photos">all</span>
  |
  <a class="shared-liked-photos" href="/users/<%= @user.id %>?mutual=1">mutual</a>
</h1>
<div class="photo-container">
  <%= render @photos %>
</div>

<div class="user-container">
</div>
