<h1>All photos</h1>

<div class="photo-container">
  <%= render @photos %>
</div>

<div class="user-container">
</div>

<%= render 'upload_photo_modal' %>
<!-- facebook/twitter
     queries
     action mailer
     bootstrap -->