/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

body {
  background-image: url('blurred.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
}

.facebook-login {
  background: blue;
  width: 150px;
  a {
    color: white;
  }
}

.shared-liked-photos {
  color: #581D3E;
  font-size: 50px;
  text-decoration: none;
  font-family: 'News Cycle';
  &:hover {
    cursor: pointer;
    color: #CC7066;
    text-decoration: none;
  }
}

.delete-photo {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  background: red;
  font-size: 8px;
  border-radius: 8px;

  &:hover{
    background: purple;
    color: white;
    cursor: pointer;
  }
}

.photoapps-like {
  text-align: center;
  float: left;
  width: 55px;
  margin-left: 100px;
  background: purple;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  &:hover{
    cursor: default;
  }
}

.twitter-share-button {
  margin-left: 15px;
}

#widget {
  width: 30px;
}

.fb-like {
  width: 100px;
}

.photo-container {
  background: white;
}

.all-photos {
  font-size: 50px;
  color: #581D3E;
  text-decoration: none;
  font-family: 'News Cycle';
  &:hover {
    cursor: pointer;
    color: #CC7066;
    text-decoration: none;
  }
}

.like-button {
  margin-left: 300px;
  margin-top: 40px;
  background: purple;
  border-radius: 25px;
  width: 60px;
  color: white;
  font-size: 60px;
  &:hover{
    text-decoration: none;
    color: #581D3E;
    background: #CC7066;
  }
}

.login-page {
  background: white;
  margin-top: 5%;
  width: 400px;
  margin-left: 10%;
}

.user-photo {
  width: 70%;
  padding: 30px;
  margin-top: 40px;
  margin: 20px;
  margin-left: 63px;
  background: #E3D9F2;
  border: solid black 2px;
}

.medium-photo {
  width: 450px;
  padding: 30px;
  margin: 10px;
  margin-left: 70px;
  background: #E3D9F2;
  border: solid black 2px;
}

.user-photo:hover {
  background: #4B89C3;
  cursor: pointer;
}

.medium-photo:hover {
  background: #C2EBE0;
  cursor: pointer;
}

.photo-container {
  margin-left: 150px;
  width: 690px;
  background: #D5F0F1;
  float: left;
  border-right: solid black 10px;
}

.user-container {
  width: 690px;
  height: 700px;
  margin-left: 47%;
  position: fixed;
  background: #183949;
  color: white;
  a:link{
    color: white;
  }
}

.navbar {
  position: fixed;
  text-decoration: none;
  float: left;
  background: transparent;
  font-family: 'News Cycle';
}

.navbar li {
  list-style-type: none;
  height: 40px;
  width: 80px;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 100px;
  background: #D5F0F1;
  &:hover {
    background: #226731;
    a {
      color: white;
    }
  }
  a {
    color: black;
    text-decoration: none;
  }
}

.new-photo-page {
  background: white;
  width: 400px;
  margin-left: 10%;
  margin-top: 10%;
}

.on-show-photo {
  width: 75%;
  padding: 0;
  margin: 50px;
  margin-top: 12px;
  background: #E3D9F2;
  border: solid black 2px;
}

.photo-info {
  color: white;
  margin-left: 210px;
  margin-bottom: 30px;
}

h1 {
  margin-left: 270px;
  color: #CC7066;
  font-family: 'News Cycle', sans-serif;
}